/**

import tailwind because we need tilwind in our project
set the source to the bui package, because tailwind will only add the classes,
which are using the main project by default. It doesn't know about which classes are used in bui.
By setting the source to the bui package, we instruct tailwind to also include the classes from the bui package into the final .css

 */
@import "tailwindcss";

@source "../../../../packages/bui/src/**/*.{ts,vue}";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

