// Specify the GitHub registry for @firstnoodle-ui packages
@firstnoodle-ui:registry=https://npm.pkg.github.com

// Fallback to the public npm registry for all other packages
registry=https://registry.npmjs.org

shamefully-hoist=true

