$color1: #eee;
$color2: #bbb;

.first-paint {
    background-color: var(--color-bg-tertiary);
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    @for $i from 1 through 20 {
        &.delay-#{$i} {
            animation-delay: $i * 0.1s;
        }
    }
}

@keyframes fade {
    0% { background-color: var(--color-bg-tertiary); }
    5% { background-color: var(--color-bg-tertiary); }
    25% { background-color: var(--color-bg-secondary); }
    45% { background-color: var(--color-bg-tertiary); }
    100% { background-color: var(--color-bg-tertiary); }
}