@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  h5 {
    @apply text-sm font-bold;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Shared in both themes */
  :root {
    --color-action: var(--color-blue-500);
    --color-action-hover: var(--color-blue-600);
    --color-action-active: var(--color-blue-700);
    --color-destructive: var(--color-red-500);
    --color-destructive-hover: var(--color-red-600);
    --color-destructive-active: var(--color-red-700);
  }

  [data-theme="light"] {
    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-stone-100);
    --color-bg-tertiary: var(--color-stone-200);

    --color-border-weak: var(--color-stone-200);
    --color-border-default: var(--color-stone-300);
    --color-border-strong: var(--color-stone-400);

    --color-text-primary: var(--color-slate-900);
    --color-text-secondary: var(--color-slate-700);
    --color-text-tertiary: var(--color-slate-500);
    --color-text-muted: var(--color-slate-300);
  }
  [data-theme="dark"] {
    --color-bg-primary: #212121;
    --color-bg-secondary: var(--color-neutral-800);
    --color-bg-tertiary: #333333;

    --color-border-weak: var(--color-neutral-800);
    --color-border-default: var(--color-neutral-700);
    --color-border-strong: var(--color-neutral-600);

    --color-text-primary: var(--color-stone-100);
    --color-text-secondary: var(--color-stone-300);
    --color-text-tertiary: var(--color-stone-400);
    --color-text-muted: var(--color-stone-500);
  }
}

/* @utility content-auto {
  content-visibility: auto;
} */

@utility bg-primary {
  background-color: var(--color-bg-primary);
}
@utility bg-secondary {
  background-color: var(--color-bg-secondary);
}
@utility bg-tertiary {
  background-color: var(--color-bg-tertiary);
}
@utility bg-action {
  background-color: var(--color-action);
}
@utility bg-action-hover {
  background-color: var(--color-action-hover);
}
@utility bg-action-active {
  background-color: var(--color-action-active);
}

@utility border-weak {
  border-color: var(--color-border-weak);
}
@utility border-default {
  border-color: var(--color-border-default);
}
@utility border-strong {
  border-color: var(--color-border-strong);
}
@utility border-action {
  border-color: var(--color-action);
}
@utility border-action-hover {
  border-color: var(--color-action-hover);
}
@utility border-action-active {
  border-color: var(--color-action-active);
}

@utility text-primary {
  color: var(--color-text-primary);
}
@utility text-secondary {
  color: var(--color-text-secondary);
}
@utility text-tertiary {
  color: var(--color-text-tertiary);
}
@utility text-muted {
  color: var(--color-text-muted);
}
@utility text-action {
  color: var(--color-action);
}
@utility text-destructive {
  color: var(--color-destructive);
}